.coinImage{
  background-color: black;
  height: 16rem;
  max-width: 16rem;
  padding: 1rem;
}
.container{
  background-color: rgb(206, 247, 233);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top:1rem
}

.card{
  border-bottom: 0.5rem solid rgb(1, 29, 41);
  margin: 10px;
}
input:focus {
  outline-width: 0;
}

.Navbar{
  display: flex;
  position: fixed;
  top: 0;
  width: 98%;
  background-color: rgb(1, 29, 41);
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 5rem;
}

.coin-search{
  background-color: aliceblue;
  border-radius: 2rem;
  width: 12rem;
  height: 2rem;
  font-size: 1.2rem;
  padding: 5px;
  padding-left: 10px;
  margin: auto;
  margin-top: 6rem;
}
.coin-search:hover{
  box-shadow: 2.5px 5px #8888;
}

.Branding{
  color: aliceblue;
  font-size: 1.6rem;

}
.data{
  margin-top: 3rem;
}
.green{
  color: green;
}
.red{
  color: red;
}
.AddButton {
  justify-content: center;
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #0275d8;
  color: white;
  border-radius: 20px;
  width: 12rem;
  font-family: sans-serif;
}
.AddButton:hover{
  border-bottom: 5px solid rgb(1, 29, 41);
  border-right: 5px solid rgb(1, 29, 41);
  cursor: pointer;
}

.footer{
  text-align: center;
  justify-content: center;
  background-color: rgb(1, 29, 41);
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.btn{
  display: inline-block;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
  color: white;
  border-radius: 20px;
  width: 100px;
  font-family: sans-serif;
  font-size: 1.2rem;
  float: right;
  letter-spacing: 2px;
  
}
.btn:hover{
  background-color: #0275d8;
  cursor: pointer;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.btns{
  display: inline-block;
  margin: 1rem;
  
}
.link{
  text-decoration: none;
  color: black;
}
.link:hover{
  color: white;
}
.card:hover{
  border-bottom: 0px;
  box-shadow: 5px 10px rgb(1, 29, 41);
  cursor: pointer;
}
